/* home.css */

.homepage {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  text-align: center;
  padding: 0px;
  margin: 0 auto; 
  color: #333;
  max-width: 1500px; 
}


.caption {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  background-image: url('E:\FinalYearProject\frontend\src\images\hoodie.jpg');
  background-size: cover;
  background-position: center center; 
  height: 600px;
  width: 100%;
  color: rgba(255, 255, 255, 0.95);
}



.button-2 {
  background-color: #4caf50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 60px;
  width: 150px;
  font-size: 15px ;
}

.text-wrapper-9 {
  font-size: 50px;

  padding: 50px;
}

.text-wrapper-10 {
  font-size: 40px;
  padding-left: 55px;
}


.text-wrapper-11 {
  font-size: 18px;
  margin-right: 10px;
}

.p {
  font-size: 25px;
  margin-left: 60px;
  text-align: left;
}


